<app-header></app-header>
<mat-card>
    <mat-card-title>Calcula Nota</mat-card-title>
    <form>
        <label>Nota 1:</label>
        <input type="number" name="nota1" [(ngModel)]="nota1"><br><br>
        <label>Nota 2:</label>
        <input type="number" name="nota2" [(ngModel)]="nota2"><br><br>
        <label>Nota 3:</label>
        <input type="number" name="nota3" [(ngModel)]="nota3"><br><br>
        <button (click)="calculaMedia()">Calcular</button>
    </form>

    <h3>Media das notas: {{ media | number: '1.1-2' }}</h3>
</mat-card>