.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  form{
    display: flex;
    flex-direction: column;
  }

  .card-form{
    width: 400px;
  }
  