<div class="flex">
<mat-card class="card-form">
  <mat-card-title>Cadastro de Usuários</mat-card-title>
  <mat-card-content>
    <!--
      Informar que o formulario será validado pelo Template Driven Forms
    -->
 <form action="#" #userForm="ngForm" (ngSubmit)="enviarForm()"> <!--informar que esse formulario utilizara 
  um método de validação do Templeate Driven Forms-->
  <mat-form-field appearance="outline">
    <mat-label>Nome</mat-label>
    <input 
    type="text" 
    matInput [(ngModel)]="dadosUsuario.nome" 
    name="nome"
    required
    minlength="4"
    name="nome"
    #inputNome="ngModel"
    >
    <mat-error>
      <span *ngIf="inputNome.getError('required')">Este campo é obrigatório</span>
      <span *ngIf="inputNome.getError('minlength')">Este campo precisa possuir 4 cartacteres,no mínimo</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
  <mat-label>Sobrenome</mat-label>
  <input 
  type="text" matInput [(ngModel)]="dadosUsuario.sobrenome"
   name="sobrenome"
   required
   minlength=""
   #inputSobrenome="ngModel"
   >
   <mat-error>Sobrenome incorreto</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>E-mail</mat-label>
    <input 
    type="email" matInput [(ngModel)]="dadosUsuario.email" 
    name="email"
    required
    email 
    minlength=""
    #inputEmail="ngModel"
    >
    <mat-error>E-mail inválido</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input 
      type="password" matInput [(ngModel)]="dadosUsuario.senha"
       name="senha"
       required
       minlength="8"
       #inputSenha="ngModel"
       >
       <mat-error>Senha inválido</mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button 
       color="primary"
       [disabled]="userForm.invalid"
       >Cadastrar</button>
       
 </form>
  </mat-card-content>
</mat-card>
</div>

<app-reactive></app-reactive>