<!--<section>
    <div class img="container">
        <img src="/assets/img/agem" alt="">
    </div>
    <div class="product-data">
        <h2>Playstation 5 </h2>
        <p>Video game de ultima geração da Sony</p>
        <strong>R$5.000,00</strong>
    </div>
    <button>Adicionar ao Carrinho</button>
</section>-->
    
    <!--<section>
        <div class="borda"></div>
    </section>--->
    <div class="card">
        <img src="https://m.media-amazon.com/images/I/713ynQn7jEL._AC_SX522_.jpg">
        <h2 style="color:black">Gannier</h2>
        <h3 style="color:gray">GarnnierPureActiveMiceltar
        <br>Clearsing Waber 125ml</h3>

        <h2 style="color:rgb(198, 9, 9)">$120,00</h2>

       <button class="button"><b><h2>
          Adicionar ao carrinho</h2></b>
       </button>
</div>
