<div class="card">
    <img src="https://images.unsplash.com/photo-1649794167937-8741acc67ebc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80" alt="Imagem do Card" class="card-img">
    <div class="card-content">
        <p class="card-title">
          {{titulo}}
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <div class="card-author">
            <img src="https://images.unsplash.com/photo-1664801819763-01b6c3f10f70?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="" class="author">
        <p>
            <strong>{{username}}</strong>
        </p>
        </div>
        <div class="card-footer">
            <button class="read-more" [style]="'background-color:' + corBtn + ';'">Ler mais</button>
        </div>
      </div>
    </div>