.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 0 5px #0000002a, -5px 0 5px #0000002a, 0px 5px 5px #0000002a, 0px -5px 5px #0000002a;
    box-sizing: content-box;
  }
  
  .card-img {
    width: 300px;
    height: 200px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 25px 20px;
    box-sizing: border-box;
  }
  
  .card-title {
    font-size: 20px;
    max-width: 230px;
    font-weight: 700;
  }
  
  .card-author {
    display: flex;
    align-items: center;
    color: #aaaaaa;
    font-size: 10px;
  }
  
  .card-author p {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .author {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin-right: 5px;
  }
  
  .card-footer {
    margin-top: 20px;
  }
  
  .card-footer button {
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    border-radius: 2px;
    height: 35px;
    background-color: black;
    color: white;
    font-size: 13px;
    text-align: start;
    padding: 0 35px 4px 0 4px_ox-
}