<section class="container">
  <section class="container-form">
      <h1 class="titulo">Minha Biblioteca Virtual</h1>
    <div class="form-cadastro">
      <h2 class="form-cadastro_titulo">Cadastre seus livros lidos aqui</h2>
      <form action="#" class="form-cadastro_formulario" (submit)="adicionarLivro()"  #userForm="ngForm">
        <input 
        type="text" 
        name="titulo" 
        id="titulo" 
        placeholder="Título" 
        [(ngModel)]="titulo"
        >
        <input type="text" name="autor" id="autor" placeholder="Autor(a)" [(ngModel)]="autor">
        <input type="text" name="paginas" id="paginas" placeholder="Nº de páginas" [(ngModel)]="paginas">
        <div class="caixa-avaliacao">
          <p class="avaliacao">Nota:</p>
          <img [src]="estrela" (mouseover)="mudarEstrela1()"  class="icone-estrela"
            width="15px" (click)="receberNota1()">
          <img [src]="estrela2 " (mouseover)="mudarEstrela2()" class="icone-estrela"
            width="15px" (click)="receberNota2()">
          <img [src]="estrela3" (mouseover)="mudarEstrela3()" class="icone-estrela"
            width="15px" (click)="receberNota3()">
          <img [src]="estrela4" (mouseover)="mudarEstrela4()" class="icone-estrela"
            width="15px" (click)="receberNota4()">
          <img [src]="estrela5" (mouseover)="mudarEstrela5()"  class="icone-estrela"
            width="15px"(click)="receberNota5()">
        </div>
        <input type="url" name="capa" id="capa" placeholder="Url capa do livro" [(ngModel)]="capa">
        <button type="submit" class="btn-adicionar" (click)="estrelaVazia()"><img src="../assets/adicionar.png" width="40px"></button>
      </form>
    </div>
  <section class="cards">
    <app-card-livro *ngFor="let livro of listaLivros" [livro]="livro" (eventoExcluir)="excluirLivro(livro)"></app-card-livro>
  </section>
</section>

