<div class="cards">
    <div class="card">
      <mat-card class="example-card" class="locaisVendas">
        <mat-card-header>
          <mat-card-subtitle>local</mat-card-subtitle>
          <mat-card-title>nome</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="horarios">
            <p>Inicio</p>
            <span>às</span>
            <p>Termino</p>
          </div>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-footer>
          <div class="info-local">
            <p>estado</p>
            <p>cidade</p>
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>