.cards{
    background-color:rgb(78, 87, 116);
}
.card{
   /*background-color: brown;*/
   flex-wrap: wrap;
   padding: 20px;
   padding-bottom: 20px;
   gap: 20px;
   display: flex;
   align-items: baseline;
   justify-content: flex-start;
   /*Altura total da tela - Altura da toolbar - Altura do footer*/
   min-height: calc(100vh - 64px - 64px);
}

mat-card{
    width: 200px;
    background-color: rgb(13, 13, 13);
    cursor: pointer;
}

.horarios{
    display: flex;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    gap: 4px;
}

.info-local{
    display: flex;
    justify-content: space-around;
}
