.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://dkrn4sk0rn31v.cloudfront.net/uploads/2020/01/14165347/GITHUB.png') ;
  width: 100%;
 
  
}

.search {
  display: flex;
  flex-direction:column;
  align-items:flex-start;
  margin-right:-40%;
  margin-bottom:200px;
  color:rgba(0, 0, 0, 0.689);
  justify-items: first baseline;
 
  
}

.search img {
  margin-bottom: 8px;
  
}

#search-form {
  width: 350px;
  display: flex;
  flex-direction: column;
  color:palevioletred;


}
