<main class="container">
  <section class="search">
    <img src="/assets/github-logo.jpg" alt="Github" width="80px" *ngIf="gUser == undefined">
    <form action="#" id="search-form" [formGroup]="githubForm"(ngSubmit)="procurar()" *ngIf="gUser == undefined">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input type="text" matInput placeholder="Ex: frogs123" formControlName="username">
      </mat-form-field>
      <button mat-flat-button color="accent" matTooltip="Procurar Usuário" [disabled]="githubForm.invalid">
        <mat-icon>search</mat-icon>
      </button>
    </form>
    <h1 *ngIf="gUser != undefined">{{ gUser.name}}</h1>

    
  </section>
</main>

