/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600&display=swap');

body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Hind Siliguri', sans-serif;
    display: flex;
}

/*app-root{
    display: flex;
    margin: 20px;
}*/