#file-input {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
}

#salvar {
  margin-top: 16px;
}

#image-preview {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: 16px 0;
  align-self: center;
  border: 7px solid white;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),0px 8px 10px 1px rgba(0, 0, 0, 0.14),0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

div {
  display: flex;
  justify-content: space-between;
}